.header__container {
  display: flex;
  justify-content: space-between;
  padding: 24px, 16px;
  align-items: center;
}

.nav {
  display: flex;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  font-family: "Manrope";
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf");
}
.weather__widget {
  display: flex;
  max-width: 288px;
  height: 469px;
  background-color: #4440f7;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .weather__widget {
    max-width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1200px) {
  .weather__widget {
    max-width: 395px;
  }
}

.weather__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 0;
}
.weather__content img {
  margin: 53px auto 40px;
  width: 128px;
  height: 121px;
}
@media screen and (min-width: 768px) {
  .weather__content {
    padding: 40px 0;
  }
  .weather__content img {
    margin: 90px auto;
    width: 165px;
    height: 156px;
  }
}

.weather__wrapper {
  display: flex;
  align-items: center;
}

.weather__wrapper--column {
  flex-direction: column;
}

.weather__wrapper--accent {
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  padding: 9px 8px;
}
@media screen and (min-width: 768px) {
  .weather__wrapper--accent {
    padding: 10px 17px;
  }
}

.temperature {
  position: relative;
  font-size: 55px;
  margin-right: 12px;
}
.temperature::after {
  position: absolute;
  width: 63px;
  height: 0;
  content: " ";
  border: 1px solid #ffffff;
  left: 54px;
  bottom: 32px;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .temperature {
    font-size: 64px;
    margin-right: 16px;
  }
  .temperature::after {
    width: 81px;
    left: 63px;
    bottom: 40px;
  }
}

.description {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 36px;
  }
}

.location-icon {
  width: 18px;
  height: 18px;
  fill: red;
  color: blue;
}
@media screen and (min-width: 768px) {
  .location-icon {
    width: 27px;
    height: 27px;
  }
}

.location {
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .location {
    font-size: 20px;
    line-height: 1.15;
  }
}

.date {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 36px;
  }
}/*# sourceMappingURL=main.css.map */