<header class="header">
  <div class="container header__container">
    <a
      href="./index.html"
      class="header__logo"
      rel="noreferrer noopener nofollow"
      >News</a
    >
    <nav class="nav">
      <form class="nav__search-form">
        <input class="search-form__input" type="text" />
        <button class="search-form__button" type="submit">
          <svg width="20" height="20">zoom_icon</svg>
        </button>
      </form>
      <button class="nav_burger-menu">
        <svg width="20" height="20">burger-menu_icon</svg>
      </button>
    </nav>
  </div>
</header>
